@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: "Raleway", Helvetica, sans-serif;
	background: url(../img/asanoha-400px.png) repeat center center;
}

@media (min-width: 1200px) {
	.container {
	    width: 970px;
	}
}
#header {
	margin: 0 0 20px;
	background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0;
}
#header .container {
	position: relative;
}
#header .site-branding {
	float: left;
}
.site-branding .custom-header, .site-branding .site-title {
	float: left;
}
.site-branding .custom-header img {
    display: block;
}

.main-navigation {
    display: block;
    float: right;
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 500;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.main-navigation .main-menu {
    float: right;
}
.main-navigation .menu {
    float: right;
}
.main-navigation ul {
	list-style: none;
}
.main-navigation li {
    margin-left: 10px;
    float: left;
    position: relative;
}
#site-navigation ul > li > a {
    text-transform: uppercase;
    color: #888;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}



#main {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 25px 20px;
}

#middle-convert .glyphicon {
	font-size: 30px;
}
@media only screen and (min-width: 992px) {
	#middle-convert {
		padding-top: 5%;
	}
}


@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

#middle-convert > img{
	padding-top: 5%;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
 /* position: fixed;*/
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
/*  background-color: rgba(0, 0, 0, 0.9);*/
  background-color: teal;
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}